.footer {
    background-color: #f5f8fa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
   // padding: 12px 0;

    .heading {
        font-size: 24px;
        font-weight: bold;
       padding: 12px 0;
    }

    .contact_link {
        .link {
            text-decoration: none;
            .icon {
                color: #111111;
                font-size: 1.5rem;
                padding-right: 12px;
            }
            .icon-name {
                color: #111111;
                font-size: 1.1rem;
                font-family: open sans, sans-serif !important;
            }
        }

        .link:hover {
            .icon {
                color: #007199;
            }

            .icon-name {
                color: #007199;
            }
        }
    }
}








// // Medium devices (tablets, 768px and up)
// @media (max-width: 767px) {
//     .contact_me {
//         padding: 40px 0px;
//     }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {}

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {}