
  <div class="footer">
    <div class="heading" >
      Contact
    </div>

    <div class="contact_link">
      <a class="link d-flex align-items-center"   href="https://www.linkedin.com/in/ajay-mandrawal-643028136/" target="_blank">
        <span class="icon icon-linkedin"></span>
        <span class="icon-name">Linkdin</span>
      </a>
      <a class="link  d-flex align-items-center  " href=" https://github.com/AjayM17" target="_blank">
        <span class="icon icon-github"  ></span>
        <span class="icon-name">Github</span>
      </a>
      <div class="link  d-flex align-items-center">
        <span class="icon icon-phone"></span>
        <span class="icon-name">+918393825792</span>
      </div>
      <div class="link  d-flex align-items-center">
        <span class="icon icon-skype"></span>
        <span class="icon-name">live:2f452a28850bd3f7</span>
      </div>
  
      <a class="link  d-flex align-items-center"  href="https://www.facebook.com/ajay.mandrawal" target="_blank">
        <span class="icon icon-facebook2" ></span>
        <span class="icon-name">Facebbok</span>
      </a>
     
    </div>
   
  
  </div>