<div class="div-container">
  <div class="info-banner d-flex  flex-column align-items-center ">
    <div class="image">
    </div>
    <div class="name">
      Ajay Mandrawal
    </div>
    <div class="designation">
      Web & Mobile Application Developer
    </div>
    <div class="tech">
      Ionic | Angular | React | React Native | Android
    </div>
  </div>

  <div class="about_me">
    <div class="intro">
      <div class="heading">
        About me
      </div>
      <div class="details">
        Hi, I have 3+ experience in Mobile & Web Application

        I worked in Ionic , Angular , React js and Android.

        I have done 6+ Mobile Apps(Android and Ios) and 2+ Web Apps like Chat Apps, Dating Apps , E-Commerce Apps

        Make Responsive Wep Apps for all devices

      </div>
    </div>
    <div class="skill">
      <div class="heading">
        Skills
      </div>
      <div >
        <div>
          <div class="sub-heading">
            Primary Skills
          </div>
          <ol class="details">
            <li>
              Ionic Framework
            </li>
            <li>
              Angular
            </li>
            <li>
              React js
            </li>
            <li>
              React Native
            </li>
            <li>
              Android App Development
            </li>
          </ol>
        </div>
        <div>
          <div class="sub-heading">
            Secondary Skills
          </div>
          <ol class="details">
            <li>
              HTML
            </li>
            <li>
             Css
            </li>
            <li>
             Javascript
            </li>
          </ol>
        </div>

      </div>
    </div>

  </div>
</div>